.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin-bottom: 75px;
}

.canvas-wrap {
    position: relative;
}

.box {
    background-color: #EEEEEE;
}

.btn-backdrop-left {
    position: absolute;
    background-color: #EEEEEE;
    top: 12px;
    left: 12px;
    width: 5%;
    height: 5%;
    border-radius: 9px;
    border-width: 0px;
}

.btn-backdrop-right {
    position: absolute;
    background-color: #EEEEEE;
    top: 12px;
    right: 12px;
    width: 5%;
    height: 5%;
    border-radius: 9px;
    border-width: 0px;
}

.btn-backdrop-middle {
    position: absolute;
    background-color: #EEEEEE;
    top: 80%;
    left: 25%;
    width: 20%;
    height: 5%;
    border-radius: 9px;
    border-width: 0px;
}

.btn-backdrop-middle-right {
    position: absolute;
    background-color: #EEEEEE;
    top: 80%;
    left: 46%;
    width: 20%;
    height: 5%;
    border-radius: 9px;
    border-width: 0px;
}


.btn-backdrop-left img {
    display: block;
    width: 100%;
    height: auto;
    transform: scaleX(-1)
}